# Normalize data

In [17]:
import os
import glob
import math
import time
import pandas as pd

In [18]:
def read_file():
    
    path = '/Users/tae/Desktop/Project/Dataset/unnormalize/max/d48/*'
    allFile = glob.glob(path)
    allFile.sort()
    
    data = []
    
    for i in range(len(allFile)):
        df = pd.read_excel(allFile[i])
        data.append(df)

    
    return data

In [19]:
def combine_data(data):
    
    return pd.concat(data)

In [20]:
def write_file(file):
    path = '/Users/tae/Desktop/Project/Dataset/Normalize48_max.xlsx'
    file.to_excel(path , index=False)
    
    return print("Export File success")

In [21]:
def normalize_data(data):
    
    data_class = data['class']
    result = (data.iloc[:,:-1] - data.iloc[:,:-1].min()) / (data.iloc[:,:-1].max() - data.iloc[:,:-1].min())
    result['class'] = data_class
    
    write_file(result)
    
    
    return  result

In [22]:
data = read_file()
data_combine = combine_data(data)
result = normalize_data(data_combine)

Export File success

        x1       x2       x3       x4       x5       x6  class
0  147.276   98.530  105.150  120.742   93.573   84.234      4
1  131.152  118.084  156.215  109.668  103.249  120.136      4
2  138.884  101.761  158.436   88.303  109.738  114.016      4
3  115.042  117.418  120.648  103.856  124.776  104.676      4
4  117.487  103.862   95.182  109.266   99.260  101.641      4